.block-xl.content-lg-fill.content-sm-ver
  .row.content-lg-fill
    .col-lg-6.col-sm-12.content-lg-ver
      h1.text-lg-right.text-sm-center.fade-in!= title

    .col-lg-6.col-sm-12.content-lg-ver
      .swipe-container.block-md.block-dark.block-rounded
        .swipe.swipe-horizontal
          .swipe-text.text-lg.text-center Answer 1
        .swipe.swipe-horizontal
          .swipe-text.text-lg.text-center more space for a longer Answer 2
        .swipe.swipe-horizontal
          .swipe-text.text-lg.text-center answer 3
        .swipe.swipe-horizontal
          .swipe-text.text-lg.text-center answer 4
          

.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done
